<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Channel Manager</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css" />
	<link rel="stylesheet" type="text/css" href="css/app.css" />
</head>
<body ng-app="channelApp" ng-controller="PageCtrl">

<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="../">Channel Manager</a>
      <button data-target="#navbar-main" data-toggle="collapse" type="button" class="navbar-toggle">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar-main" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
		<li><a href="#">Add Channel</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
	<div class="jumbotron" ng-controller="ChannelDetailsCtrl" ng-cloak>
		<div class="row">
			<div class="col-md-6">
				<h1>{{ channel.name }}</h1>
				<div>
					<p>
						<strong>Joined: </strong><span class="pull-right">{{channel.joined}}</span>
					</p>
					<p>
						<strong>Location: </strong><span class="pull-right">{{ channel.additionalInfo.location }}</span>
					</p>
					<p>
						<strong>More info: </strong>
						<button class="btn btn-sm btn-info pull-right" ng-click="showMoreInfo()">{{ showInfoText }}</button>
						<div class="panel panel-default" ng-hide="hideInfo">
							<div class="panel-body">
								<p>
									<strong>Customers: </strong> {{ channel.additionalInfo.audience }}
								</p>
								<p>
									<strong>Male: </strong> {{ channel.additionalInfo.male }}
								</p>
								<p>
									<strong>Female: </strong> {{ channel.additionalInfo.female }}
								</p>
							</div>
						</div>
					</p>
					<p>
						<strong>Target audience: </strong>
						<button class="btn btn-sm btn-info pull-right" ng-click="showTargetAudience()">{{ showTargetAudienceText }}</button>
						<ul class="list-group" ng-hide="hideTargetAudience">
							<li class="list-group-item" ng-repeat="target in channel.additionalInfo.targetAudience" ng-class-odd="greyBgClass">
								<a href="#" ng-class="blueTextClass">{{ target }}</a>
							</li>
						</ul>
					</p>
				</div>
				<div>
					<p>
						<strong>Offers: </strong>{{channel.additionalInfo.offers}} offers / {{channel.additionalInfo.sales}} sales
						<button class="btn btn-sm btn-info pull-right" ng-click="showAndHideRecords()">{{ showOfferRecordsText }}</button>
					</p>
					<div ng-hide="hideOfferRecords">
						<ul class="nav nav-tabs">
							<li ng-repeat="offer in channel.offers">
								<a href="#offer-{{ offer.id }}" data-toggle="tab" ng-class="{active: isActive('/offer-{{ offer.id }}')}">{{ offer.name }}</a>
							</li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane fade" id="offer-{{ offer.id }}" ng-repeat="offer in channel.offers">
								<div class="panel panel-default">
									<div class="panel-body row">
										<div class="col-md-6">
											<strong>{{ offer.name }}</strong>
										</div>
										<div class="col-md-6 image-container">
											<img src="" ng-src="{{ offer.image }}" alt="{{ offer.name }}">
										</div>
									</div>	
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 image-container">
				<img src="{{ channel.image }}">
			</div>
		</div>
	</div>
</div>

<footer class="text-center">
	<hr />
	<small>
		Author: {{ author }}. Date: {{ date.year }}/{{ date.month }}/{{ date.day }}

	</small>
</footer>

<script src="lib/jquery-1.11.1.min.js"></script>
<script src="lib/bootstrap.min.js"></script>
<!-- <script src="lib/angular/angular.min.js"></script> -->
<script src="lib/angular/angular.js"></script>
<script src="js/app.js"></script>
<!-- Controllers -->
<script src="js/controllers/PageCtrl.js"></script>
<script src="js/controllers/ChannelDetailsCtrl.js"></script>
</body>
</html>